Repository Jackymn25/LexiGOv1.0, pull requests merged in 2025-08, with the labels that each got.

#59 Tests updates for daos Part I
  src/main/java/data_access/WordBookDataAccessObject.java
  src/test/java/infrastructure/FreeDictionaryApiAdapterTest.java
  src/test/java/use_case/data_access_helper/DeckTest.java
  src/test/java/use_case/data_access_helper/JsonUserProfileDAOTest.java
  src/test/java/use_case/data_access_helper/JsonUserRecordDataAccessObject2Test.java
  src/test/java/use_case/data_access_helper/JsonUserRecordDataAccessObjectPathNullTest.java
  src/test/java/use_case/data_access_helper/JsonUserRecordDataAccessObjectTest.java
  src/test/java/use_case/data_access_helper/WordBookDataAccessObjectCoverageTest.java
  src/test/java/use_case/data_access_helper/WordBookDataAccessObjectTest.java
  src/test/java/use_case/data_access_helper/j2Test.java
  src/test/java/use_case/data_access_helper/userData2Test.java
  src/test/java/use_case/data_access_helper/userDataTest.java
  src/test/resources/data/user_data.json
Labels: Test coverage

#65 Test updates
  src/test/java/use_case/start_checkin/StartCheckInInteractorTest.java
Labels: Test coverage

#68 Update test for DAO and infrastructure, fix some bugs.
  src/main/java/interface_adapter/session/LoggedInState.java
  src/main/java/use_case/change_password/ChangePasswordInputData.java
  src/main/java/use_case/login/LoginOutputData.java
  src/test/java/use_case/change_password/MakePasswordChangeInteractorTest.java
  src/test/java/use_case/finish_checkin/FinishInInteractorTest.java
  src/test/java/use_case/rank/RankInteractorTest.java
  src/test/java/use_case/word_detail/WordDataAccessObjectTest.java
  src/test/java/use_case/word_detail/WordDetailInteractorTest.java
Labels: bug, Test coverage, Refactors!

#71 view tests
  src/main/java/use_case/start_checkin/StartCheckInInteractor.java
  src/main/java/use_case/studysession/StudySessionInteractor.java
  src/test/java/infrastructure/DeepLAPIAdapterTest.java
  src/test/java/infrastructure/FormatDetectorTest.java
  src/test/java/view/AchievementViewTest.java
  src/test/java/view/ChangePasswordViewTest.java
  src/test/java/view/FontScalerTest.java
  src/test/java/view/LabelTextPanelTest.java
  src/test/java/view/LoggedInViewTest.java
  src/test/java/view/LoginViewTest.java
  src/test/java/view/ProfileViewTest.java
  src/test/java/view/RankViewTest.java
  src/test/java/view/SignupViewTest.java
  src/test/java/view/StartCheckInViewTest.java
  src/test/java/view/StudySessionViewTest.java
  src/test/java/view/ViewHistoryViewUITest.java
  src/test/java/view/ViewManagerTest.java
  src/test/java/view/WordDetailViewTest.java
Labels: enhancement, Test coverage

#73 Add Interface Adapter Tests & Refactor Signup Use Case
  src/main/java/interface_adapter/start_checkin/StartCheckInState.java
  src/main/java/use_case/login/LoginInputData.java
  src/main/java/use_case/signup/ProcessorOutput.java
  src/main/java/use_case/signup/SignUpProcessor.java
  src/main/java/use_case/signup/common/SignupInteractor.java
  src/main/java/use_case/signup/security/SignupSecurityInteractor.java
  src/main/java/use_case/signup/validation/PasswordMatchProcessor.java
  src/main/java/use_case/signup/validation/PasswordStrengthProcessor.java
  src/main/java/use_case/signup/validation/Processor.java
  src/main/java/use_case/signup/validation/ProcessorOutput.java
  src/main/java/use_case/signup/validation/UsernameNotExistsProcessor.java
  src/main/java/view/LoginView.java
  src/main/java/view/SignupView.java
  src/test/java/interface_adapter/AchievementIATest.java
  src/test/java/interface_adapter/LoginIATest.java
  src/test/java/interface_adapter/LogoutIATest.java
  src/test/java/interface_adapter/MakeItChangeIATest.java
  src/test/java/interface_adapter/PasswardChangeIATest.java
  src/test/java/interface_adapter/RankIATest.java
  src/test/java/interface_adapter/SessionIATest.java
  src/test/java/interface_adapter/SignupIATest.java
  src/test/java/use_case/signup/SignupInteractorTest.java
Labels: enhancement, Test coverage, Clear Architecture problem, Refactors!

#77 Fix code style
  src/main/java/app/AppBuilder.java
  src/main/java/data_access/JsonUserDataAccessObject.java
  src/main/java/infrastructure/FormatDetector.java
  src/main/java/interface_adapter/start_checkin/StartCheckInController.java
  src/main/java/interface_adapter/start_checkin/StartCheckInState.java
  src/main/java/interface_adapter/studysession/StudySessionPresenter.java
  src/main/java/use_case/finish_checkin/FinishCheckInInteractor.java
  src/main/java/use_case/signup/common/SignupInteractor.java
  src/main/java/use_case/signup/security/SignupSecurityInteractor.java
  src/main/java/use_case/signup/validation/PasswordStrengthProcessor.java
  src/main/java/use_case/start_checkin/FormatDetector.java
  src/main/java/view/LoginView.java
  src/main/java/view/SignupView.java
Labels: documentation

#79 Update README.md
  README.md
Labels: documentation

#81 Refactor InMomorydeckDAO
  src/main/java/data_access/InMemoryDeckDataAccessObejct.java
  src/test/java/use_case/data_access_helper/DeckTest.java
Labels: Test coverage, Refactors!

#83 Refactor: use builder design to build up processor chain
  src/main/java/use_case/signup/SignUpProcessor.java
  src/main/java/use_case/signup/security/SignupSecurityInteractor.java
  src/test/java/use_case/signup/SignUpProcessorBuilderTest.java
Labels: enhancement, help wanted, Refactors!

#87 Change pw refactor
  src/main/java/use_case/change_password/make_password_change/MakePasswordChangeInteractor.java
  src/test/java/use_case/achievement/AchievementInteractorTest.java
  src/test/java/use_case/change_password/MakePasswordChangeInteractor2Test.java
  src/test/java/use_case/change_password/MakePasswordChangeInteractorTest.java
Labels: bug, enhancement, Test coverage, Refactors!

#89 Accessible support: Tolerance for Error, logout confirmation
  src/main/java/view/LoggedInView.java
Labels: enhancement, New features!

#92 UI update
  src/main/java/view/ChangePasswordView.java
Labels: documentation, Clear Architecture problem
